

<section class="flex-container" id="footer" style="color: black; padding: 10%;background-color: #ecf0f1;">

    <div class="container">
        <div class="row">
            <div class="col-sm" style="padding: 5%;">
                <a href="mailto: yousef.mo.tawfiq@gmail.com" target="_blank"
                   style="margin: 6px; color: black; font: bold;"><img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width="50px;" />   My Email</a>
            </div>
            <div class="col-sm" style="padding: 5%;">
                <a href="https://www.linkedin.com/in/yousef-mo-tawfiq" target="_blank"
                   style="margin: 4px; color: black; font: bold;"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" width="50px;" />   Linkedin</a>
            </div>
            <div class="col-sm" style="padding: 5%;">
                <a href="https://github.com/ytawfiq20" target="_blank"
                   style="margin: 6px; color: black; font: bold;"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" width="50px" />   Github</a>
            </div>
        </div>
    </div>

</section>