



<div class="container" style="background-color: #ecf0f1; margin:0;">
    <div class="row">
        <a href="/" style="text-align: center; color: blueviolet; font-size: 50px;">
        Short Url</a>
    </div>
</div>